body{
	padding:0;
	margin:0;
	font-family:"Century Gothic", sans-serif;
	background: Gainsboro;
	width: 100%;
	height: 100%;

}

/*вкладки*/

#nav{
	position: fixed;
	width: 100%;
	left: 0px;
    top: 0px;
    background: DodgerBlue;
	opacity: 1;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
	height:80px;
	padding:0 0 0 43px;
	margin:0 auto;
	text-align: center;
	
}
#nav ul{
	margin:0 auto;
	position: absolute;
	left: 23%;
	top: 20%;

}
#nav ul li{
	float:left;
	font-size:0;
	line-height:0;
}
#nav ul li a{
	padding:22px 20px 20px;
	font:bold 22px/40px "Century Gothic", sans-serif;
	color:white;
	background-color:inherit;
	text-decoration:none;
	text-transform:uppercase;
}
#nav ul li a:hover{
	text-decoration:underline;
	
	
}
#nav ul li a.hover{
	padding:22px 20px 20px;
	font:bold 22px/40px "Century Gothic", sans-serif;
	color:white;
	text-decoration:underline;
	cursor:text;
	text-transform:uppercase;
}	

/*Тело*/
#slide {
	width: 600px;
	height: 0px;
	background:url(images/Tulips.jpg) 0 0 repeat-x #434343;
	margin:50px auto;
	color:#929292;
	padding:0px 0px 600px 0px;
	border: 1px black solid;
	
}
#catalog {
	width: 1000px;
	height: 0px;
	background: #B0C4DE;
	border-radius: 15px;
	margin:40px auto;
	color:#929292;
	opacity: 1;
	padding:0px 0px 600px 0px;
	
}
#one{
	position: absolute;
	width: 250px;
	height: 350px;
	top: 22%;
	left: 17%;
	border: 1px black solid;
	padding:0px 0px 0px 0px;
	background: white;
  box-shadow:
  1px 0px rgb(0,153,255), 1px 1px rgb(18,128,226),
  2px 1px rgb(0,152,254), 2px 2px rgb(17,127,225),
  3px 2px rgb(0,151,253), 3px 3px rgb(16,126,224),
  4px 3px rgb(0,150,252), 4px 4px rgb(15,125,223),
  5px 4px rgb(0,149,251), 5px 5px rgb(14,124,222),
  6px 5px rgb(0,148,250), 6px 6px rgb(13,123,221),
  7px 6px rgb(0,147,249), 7px 7px rgb(12,122,220),
  8px 7px rgb(0,146,248), 8px 8px rgb(11,121,219);
}
#two{
	position: absolute;
	width: 250px;
	height: 350px;
	background: white;
	top: 22%;
	left: 40%;
	border: 1px black solid;
	padding:0px 0px 0px 0px;
	box-shadow:
  1px 0px rgb(0,153,255), 1px 1px rgb(18,128,226),
  2px 1px rgb(0,152,254), 2px 2px rgb(17,127,225),
  3px 2px rgb(0,151,253), 3px 3px rgb(16,126,224),
  4px 3px rgb(0,150,252), 4px 4px rgb(15,125,223),
  5px 4px rgb(0,149,251), 5px 5px rgb(14,124,222),
  6px 5px rgb(0,148,250), 6px 6px rgb(13,123,221),
  7px 6px rgb(0,147,249), 7px 7px rgb(12,122,220),
  8px 7px rgb(0,146,248), 8px 8px rgb(11,121,219);
}
#three{
	position: absolute;
	width: 250px;
	height: 350px;
	background: white;
	top: 22%;
	left: 63%;
	border: 1px black solid;
	padding:0px 0px 0px 0px;
	box-shadow:
  1px 0px rgb(0,153,255), 1px 1px rgb(18,128,226),
  2px 1px rgb(0,152,254), 2px 2px rgb(17,127,225),
  3px 2px rgb(0,151,253), 3px 3px rgb(16,126,224),
  4px 3px rgb(0,150,252), 4px 4px rgb(15,125,223),
  5px 4px rgb(0,149,251), 5px 5px rgb(14,124,222),
  6px 5px rgb(0,148,250), 6px 6px rgb(13,123,221),
  7px 6px rgb(0,147,249), 7px 7px rgb(12,122,220),
  8px 7px rgb(0,146,248), 8px 8px rgb(11,121,219);
}